* {
	font-weight: 700;
}


h1 {
	font-size: 40px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}


h2 {
	font-size: 35px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}


h3 {
 	font-size: 20px;
    font-weight:300;
 	line-height: 17px;
}


h4 {
 	font-size: 20px;
    font-weight:300;
 	line-height: 17px;
 }


 p {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }


 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }


 a {
 	font-size: 20px;
    font-weight:300;
 	line-height: 17px;
 }

 
 li {
     font-size:30px;
 }


.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}


.padding-none {
	padding: 0;
}


.btn {
	padding: 15px;
	margin: 0;
}
.btn:hover {
	border-color: #9FB80A;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}


.top-menu {
	padding-top: 10px;
	padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #006699;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}
 

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}
.flash li {
	list-style-type: none;
	text-align: center;

}

.container-fluid {
    padding-right:100px;
    padding-left:100px;
}


.row-xs-flex-center {
    display:flex;
    align-items:center;
}
@media ( min-width:768px ) {
    .row-sm-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 992px ) {
    .row-md-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 1200px ) {
    .row-lg-flex-center {
        display:flex;
        align-items:center;
    }
}