<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X_UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale-1">
  <title> Catelog </title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,100' rel='stylesheet' type='text/css'>
  <link rel=stylesheet type=text/css href="static/styles.css">
</head>


<body>
  {% include "header.html" %}

  <div class="container-fluid">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>Categories</h2>
        <ul class="list-unstyled">
        
          {% for cat in category %}
          <li><a href=# >{{cat.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <!--
        -->
      <div class="col-xs-12 col-sm-8 col-md-8">
        <h2>Latest Items</h2>
        <ul class="list-unstyled">
        {% for item in items %}
          <li><a href=# >{{item.name}}</a></li>
        {% endfor %}
        </ul>
      </div>
  </div>
</body>

</html>